<!DOCTYPE html>
<html class="b2">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet"  type="text/css" href="index_CSS.css">
    <title>Convert</title>
</head>
<body ng-app=convertapp>
<div class="b1" align="center">
    <h1>Mash up</h1>
<div ng-controller=convertctrl align="center">
    <div class="ib">
        <h3>Get location of your Restaurant</h3>
    Venue:<input type="text" ng-model="F" class="c1" >
    Item: <input type="text" ng-model="E" class="c1" >
        <input type="button" class="button"  value="Convert" ng-click="convertg()" style="background-color: cornflowerblue">
    
    </div>
</div>
</div>
</body>
</html>